In [6]:
import numpy as np
import pandas as pd
import nltk
from string import punctuation
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer , SnowballStemmer

In [2]:
doc1 = "This is a very good and plain paper. this is really \
good and interesting"
doc2 = "This paper is very interesting, awesome"

In [3]:
def clean_txt(sent):
    tokens = word_tokenize(sent.lower())
    stemmer_s = SnowballStemmer("english")
    stop_updated = stopwords.words("english") + list(punctuation) 
    final_word = [term for term in tokens if term not in stop_updated 
               and len(term) > 2] 
    res = " ".join(final_word)
    return res

In [7]:
doc1_clean = clean_txt(doc1)
doc1_clean

'good plain paper really good interesting'

In [8]:
doc2_clean = clean_txt(doc2)
doc2_clean

'paper interesting awesome'

In [9]:
doc = pd.DataFrame([doc1_clean, doc2_clean], columns=["text"])
doc

                                       text
0  good plain paper really good interesting
1                 paper interesting awesome

In [10]:
#!pip install --user --upgrade scikit-learn==0.21.0

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
##Instancive the count vecorizer
count_vectorizer = CountVectorizer()

In [13]:
## fit -> extracts 
x = count_vectorizer.fit_transform(doc["text"])

In [14]:
x.toarray()

array([[0, 2, 1, 1, 1, 1],
       [1, 0, 1, 1, 0, 0]], dtype=int64)

In [15]:
x.todense()

matrix([[0, 2, 1, 1, 1, 1],
        [1, 0, 1, 1, 0, 0]], dtype=int64)

In [17]:
count_vectorizer.get_feature_names()

['awesome', 'good', 'interesting', 'paper', 'plain', 'really']

In [18]:
print(count_vectorizer.vocabulary)

None

In [22]:
import pandas as pd
dtm =  pd.DataFrame(x.toarray(),columns = count_vectorizer.get_feature_names())
dtm

   awesome  good  interesting  paper  plain  really
0        0     2            1      1      1       1
1        1     0            1      1      0       0

In [23]:
tdm = dtm.T
tdm

             0  1
awesome      0  1
good         2  0
interesting  1  1
paper        1  1
plain        1  0
really       1  0

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
tfidf_vect = TfidfVectorizer()

In [27]:
tfidf = tfidf_vect.fit_transform(doc["text"])

In [29]:
df_tfidf = pd.DataFrame(tfidf.toarray(),columns = tfidf_vect.get_feature_names())
df_tfidf

    awesome      good  interesting     paper     plain    really
0  0.000000  0.755256     0.268685  0.268685  0.377628  0.377628
1  0.704909  0.000000     0.501549  0.501549  0.000000  0.000000