In [11]:
import nltk
from string import punctuation
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer , SnowballStemmer

In [8]:
doc1 = "Python is a 2000 made-for-TV horror movie directed by Richard Clabaugh.The film features several cult favorite actors, including William Zabka of The Karate Kid fame, Wil Wheaton, Casper Van Dien, Jenny McCarthy, Keith Coogan, Robert Englund (best known for his role as Freddy Krueger in the A Nightmare on Elm Street series of films), Dana Barron, David Bowe, and Sean Whalen. The film concerns a genetically engineered snake, a python, that escapes and unleashes itself on a small town. It includes the classic final girl scenario evident in films like Friday the 13th. It was filmed in Los Angeles,  California and Malibu, California. Python was followed by two sequels: Python  II (2002) and Boa vs. Python (2004), both also made-for-TV films."

doc2 = "Python, from the Greek word (πύθων/πύθωνας), is a genus of nonvenomous pythons found in Africa and Asia. Currently, 7 species are recognised. A member of this genus, P. reticulatus, is among the longest snakes known."

doc3 = "The Colt Python is a .357 Magnum caliber revolver formerly manufactured by Colt's Manufacturing Company of Hartford, Connecticut. It is sometimes referred to as a ""Combat Magnum"". It was first introduced in 1955, the same year as Smith &amp; Wesson's M29 .44 Magnum. The now discontinued Colt Python targeted the premium revolver market segment. Some firearm collectors and writers such as Jeff Cooper, Ian V. Hogg, Chuck Hawks, Leroy Thompson, Renee Smeets and Martin Dougherty have described the Python as the finest production revolver ever made."

In [12]:
def clean_txt(sent):
    tokens = word_tokenize(sent.lower())
    stemmer_s = SnowballStemmer("english")
    stop_updated = stopwords.words("english") + list(punctuation) 
    final_word = [term for term in tokens if term not in stop_updated 
               and len(term) > 2] 
    res = " ".join(final_word)
    return res

In [13]:
doc1_clean = clean_txt(doc1)
doc1_clean

'python 2000 made-for-tv horror movie directed richard clabaugh.the film features several cult favorite actors including william zabka karate kid fame wil wheaton casper van dien jenny mccarthy keith coogan robert englund best known role freddy krueger nightmare elm street series films dana barron david bowe sean whalen film concerns genetically engineered snake python escapes unleashes small town includes classic final girl scenario evident films like friday 13th filmed los angeles california malibu california python followed two sequels python 2002 boa vs. python 2004 also made-for-tv films'

In [15]:
doc2_clean = clean_txt(doc2)
doc2_clean

'python greek word πύθων/πύθωνας genus nonvenomous pythons found africa asia currently species recognised member genus reticulatus among longest snakes known'

In [16]:
doc3_clean = clean_txt(doc3)
doc3_clean

'colt python .357 magnum caliber revolver formerly manufactured colt manufacturing company hartford connecticut sometimes referred combat magnum first introduced 1955 year smith amp wesson m29 .44 magnum discontinued colt python targeted premium revolver market segment firearm collectors writers jeff cooper ian hogg chuck hawks leroy thompson renee smeets martin dougherty described python finest production revolver ever made'

In [18]:
doc = pd.DataFrame([doc1_clean, doc2_clean,doc3_clean], columns=["text"])
doc

                                                text
0  python greek word πύθων/πύθωνας genus nonvenom...
1  python greek word πύθων/πύθωνας genus nonvenom...
2  colt python .357 magnum caliber revolver forme...

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
count_vectorizer = CountVectorizer()

In [24]:
x = count_vectorizer.fit_transform(doc["text"])

In [25]:
x.toarray()

array([[0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 2, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 1],
       [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 2, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 1],
       [1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 3, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 3, 1, 1, 1, 1, 0,
        0, 1, 1, 3, 0, 0, 1, 1, 0, 3, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
        0, 0]], dtype=int64)

In [31]:
z = pd.DataFrame(x.toarray(),columns = count_vectorizer.get_feature_names())
z

,1955,357,44,africa,among,amp,asia,caliber,chuck,collectors,...,sometimes,species,targeted,thompson,wesson,word,writers,year,πύθων,πύθωνας
0,0,0,0,1,1,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,1
1,0,0,0,1,1,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,1
2,1,1,1,0,0,1,0,1,1,1,...,1,0,1,1,1,0,1,1,0,0

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer()
tfidf = tfidf_vect.fit_transform(doc["text"])
df_tfidf = pd.DataFrame(tfidf.toarray(),columns = tfidf_vect.get_feature_names())
df_tfidf

,1955,357,44,africa,among,amp,asia,caliber,chuck,collectors,...,sometimes,species,targeted,thompson,wesson,word,writers,year,πύθων,πύθωνας
0,0.000000,0.000000,0.000000,0.210337,0.210337,0.000000,0.210337,0.000000,0.000000,0.000000,...,0.000000,0.210337,0.000000,0.000000,0.000000,0.210337,0.000000,0.000000,0.210337,0.210337
1,0.000000,0.000000,0.000000,0.210337,0.210337,0.000000,0.210337,0.000000,0.000000,0.000000,...,0.000000,0.210337,0.000000,0.000000,0.000000,0.210337,0.000000,0.000000,0.210337,0.210337
2,0.115363,0.115363,0.115363,0.000000,0.000000,0.115363,0.000000,0.115363,0.115363,0.115363,...,0.115363,0.000000,0.115363,0.115363,0.115363,0.000000,0.115363,0.115363,0.000000,0.000000

In [51]:
trans=df_tfidf.T
trans.head()

               0         1         2
1955    0.000000  0.000000  0.115363
357     0.000000  0.000000  0.115363
44      0.000000  0.000000  0.115363
africa  0.210337  0.210337  0.000000
among   0.210337  0.210337  0.000000

### Find the following: 
 - 1) Top 3 words unigram based on TF-IDF for document 3. Fill your answers below:

In [36]:
trans[2].sort_values(ascending=False)[:3]

revolver    0.346089
magnum      0.346089
colt        0.346089
Name: 2, dtype: float64

## computing ngrams:

  1. unigram -  one word at a time
  2. unigram -  two word at a time
  3. trigram - three words

- any combination of the above can be created

- by defalt the vectorizer's in sklearn : countVectorizer and
  TfidfVectorizer will be perform on unigram , ie ngram wioll be set to (1,1)
    
- to extract bigram ngram_range
- to extract trigrams ngrams_range(3,3)

In [45]:
doc1 = "This is a very good and plain paper. this is really \
good and interesting"
doc2 = "This paper is very interesting, awesome"

In [46]:
doc1_clean = clean_txt(doc1)
doc1_clean

'good plain paper really good interesting'

In [47]:
doc2_clean = clean_txt(doc2)
doc2_clean

'paper interesting awesome'

In [48]:
doc = pd.DataFrame([doc1_clean, doc2_clean], columns=["text"])
doc

                                       text
0  good plain paper really good interesting
1                 paper interesting awesome

In [49]:
count_vectorizer_bg = CountVectorizer(ngram_range = (2,2))
x_bg = count_vectorizer_bg.fit_transform(doc["text"])
count_vectorizer_bg.get_feature_names()

['good interesting',
 'good plain',
 'interesting awesome',
 'paper interesting',
 'paper really',
 'plain paper',
 'really good']

In [52]:
pd.DataFrame(x_bg.toarray() , columns=count_vectorizer_bg.get_feature_names() )

,good interesting,good plain,interesting awesome,paper interesting,paper really,plain paper,really good
0,1,1,0,0,1,1,1
1,0,0,1,1,0,0,0

In [53]:
## instantiate the count vectorizer with ,max feature
## take a column sun of your DTM and get the max n feature
count_vectorizer_max = CountVectorizer(max_features=3)

In [54]:
# fir -> extract the feature or BOW
# transform -> computer the count for avery feature exteacted

x_max = count_vectorizer_max.fit_transform(doc["text"])

In [59]:
DTM_max = pd.DataFrame(x_max.toarray(),columns = count_vectorizer_max.get_feature_names()) 
DTM_max

   good  interesting  paper
0     2            1      1
1     0            1      1